openapi: 3.0.3
info:
  title: Glyph API
  description: |
    Document generation and AI-powered editing API. Generate beautiful PDFs from your data
    with intelligent template modification powered by Claude AI.

    ## Authentication
    All `/v1/*` endpoints (except public webhook endpoints) require an API key passed via the `x-api-key` header.

    ## Rate Limiting
    Rate limits are tier-based:
    - **Free**: 100 requests/month
    - **Pro**: 1,000 requests/month
    - **Enterprise**: Unlimited

    ## Quick Start
    1. Get an API key from the dashboard
    2. Create a preview with `POST /v1/preview`
    3. Modify with AI using `POST /v1/modify`
    4. Generate PDF with `POST /v1/generate`
  version: 0.9.0
  contact:
    name: Glyph Support
    url: https://glyph.so
    email: support@glyph.so
  license:
    name: Proprietary
    url: https://glyph.so/terms

servers:
  - url: https://api.glyph.so
    description: Production server
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
    description: Health check endpoints
  - name: Core
    description: Core document generation workflow (preview, modify, generate)
  - name: Schema Detection
    description: AI-powered data analysis and schema detection
  - name: Templates
    description: AI-powered template generation from Airtable schemas
  - name: Batch
    description: Batch PDF generation for multiple records
  - name: Webhooks
    description: Automated PDF generation via webhooks
  - name: Airtable
    description: Airtable integration endpoints
  - name: Dashboard
    description: API key management and usage metrics

paths:
  # ===========================================================================
  # Health & Info
  # ===========================================================================
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns API health status. No authentication required.
      operationId: healthCheck
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                version: "0.9.0"
                timestamp: "2024-01-15T10:30:00.000Z"

  /:
    get:
      tags: [Health]
      summary: API information
      description: Returns API metadata and available endpoints. No authentication required.
      operationId: getApiInfo
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfoResponse'

  # ===========================================================================
  # Core Workflow
  # ===========================================================================
  /v1/preview:
    post:
      tags: [Core]
      summary: Generate HTML preview
      description: |
        Renders quote/invoice data into HTML using a template. Returns a session ID
        for subsequent modifications.
      operationId: createPreview
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewRequest'
            example:
              template: quote-modern
              data:
                client:
                  name: Acme Corp
                  email: billing@acme.com
                lineItems:
                  - description: Web Development
                    quantity: 40
                    unitPrice: 150
                    total: 6000
                totals:
                  subtotal: 6000
                  tax: 480
                  total: 6480
      responses:
        '200':
          description: Preview generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/preview/templates:
    get:
      tags: [Core]
      summary: List available templates
      description: Returns a list of built-in templates available for preview.
      operationId: listTemplates
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Templates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: string
                    example: ["quote-modern", "quote-classic", "invoice-simple"]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/modify:
    post:
      tags: [Core]
      summary: AI-powered HTML modification
      description: |
        Modify HTML using natural language instructions. Supports two modes:

        **Session-based (recommended)**: Pass `sessionId` from `/v1/preview` to modify tracked HTML.
        The session stores modification history and preserves template variables.

        **Direct mode**: Pass `html` directly for one-off modifications without session tracking.
      operationId: modifyHtml
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SessionModifyRequest'
                - $ref: '#/components/schemas/DirectModifyRequest'
            examples:
              session-based:
                summary: Session-based modification
                value:
                  sessionId: "550e8400-e29b-41d4-a716-446655440000"
                  prompt: "Change the accent color to blue and make the header larger"
              direct:
                summary: Direct HTML modification
                value:
                  html: "<div class='header'>Hello</div>"
                  instruction: "Make the text bold and red"
      responses:
        '200':
          description: Modification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '410':
          description: Session expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/modify/validation-status:
    get:
      tags: [Core]
      summary: Get validation status for a session
      description: |
        Poll for self-check validation results after a modification.
        Validation runs asynchronously in the background.
      operationId: getValidationStatus
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sessionId
          in: query
          required: true
          description: Session ID to check validation status for
          schema:
            type: string
      responses:
        '200':
          description: Validation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationStatusResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/modify/apply-fix:
    post:
      tags: [Core]
      summary: Apply auto-fix suggestion
      description: Apply the auto-generated fix for validation issues in a session.
      operationId: applyFix
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId:
                  type: string
                  description: Session ID to apply fix to
      responses:
        '200':
          description: Fix applied successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  html:
                    type: string
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/generate:
    post:
      tags: [Core]
      summary: Generate PDF or PNG
      description: |
        Generate a PDF or PNG from HTML content. Uses Playwright for rendering.

        Set `Accept: application/json` header to receive metadata (including data URL).
        Otherwise, returns the raw file bytes.
      operationId: generateDocument
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequest'
            example:
              html: "<html><body><h1>Invoice</h1></body></html>"
              format: pdf
              options:
                scale: 1.5
      responses:
        '200':
          description: Document generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateResponse'
            application/pdf:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          description: Monthly limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Playwright not installed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # ===========================================================================
  # Schema Detection
  # ===========================================================================
  /v1/analyze:
    post:
      tags: [Schema Detection]
      summary: Analyze data structure
      description: |
        Analyzes arbitrary JSON data and detects the document type (invoice, quote, etc.),
        suggests field mappings, and recommends a template.
      operationId: analyzeData
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  additionalProperties: true
                  description: Arbitrary JSON data to analyze
            example:
              data:
                customer_name: "John Doe"
                items:
                  - name: "Widget"
                    qty: 5
                    price: 10
                amount_due: 50
      responses:
        '200':
          description: Analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/analyze/preview/auto:
    post:
      tags: [Schema Detection]
      summary: Auto-detect and create preview
      description: |
        Combines schema detection with preview generation. Automatically maps your data
        to the appropriate template and renders it.
      operationId: autoPreview
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  type: object
                  additionalProperties: true
                template:
                  type: string
                  description: Optional template override
      responses:
        '200':
          description: Auto-preview generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoPreviewResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/analyze/mappings:
    get:
      tags: [Schema Detection]
      summary: Get field mapping reference
      description: Returns documentation on recognized field name variations and document types.
      operationId: getMappings
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Field mappings reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingsReference'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================================================
  # Template Generation
  # ===========================================================================
  /v1/templates/generate:
    post:
      tags: [Templates]
      summary: Generate template from Airtable schema
      description: |
        AI-powered template generation. Connects to your Airtable base, reads the schema,
        and generates a beautiful HTML template based on your natural language description.
      operationId: generateTemplate
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateGenerateRequest'
            example:
              airtable:
                apiKey: "patXXXXXXXXXXXXXX"
                baseId: "appXXXXXXXXXXXXXX"
                tableId: "tblXXXXXXXXXXXXXX"
              description: "Create a professional invoice with a blue header, company logo area, itemized table, and payment terms footer"
              style: modern
              includeSample: true
      responses:
        '200':
          description: Template generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateGenerateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Table not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/templates/refine:
    post:
      tags: [Templates]
      summary: Refine template with AI
      description: Modify an existing template using natural language instructions.
      operationId: refineTemplate
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRefineRequest'
      responses:
        '200':
          description: Template refined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRefineResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/templates/preview:
    post:
      tags: [Templates]
      summary: Render template with data
      description: Renders a Mustache template with provided data. No AI involved.
      operationId: previewTemplate
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [html, data]
              properties:
                html:
                  type: string
                  description: Template HTML with Mustache placeholders
                data:
                  type: object
                  additionalProperties: true
                  description: Data to render
      responses:
        '200':
          description: Template rendered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  html:
                    type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/templates/styles:
    get:
      tags: [Templates]
      summary: List style presets
      description: Returns available style presets for template generation.
      operationId: listStyles
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Style presets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StylesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================================================
  # Batch Generation
  # ===========================================================================
  /v1/templates/batch:
    post:
      tags: [Batch]
      summary: Generate PDFs synchronously
      description: |
        Generate PDFs for multiple Airtable records. Returns a ZIP file directly.
        Limited to 20 records to avoid timeout. For larger batches, use `/batch/start`.
      operationId: batchSync
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: ZIP file with generated PDFs
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/templates/batch/start:
    post:
      tags: [Batch]
      summary: Start async batch job
      description: |
        Start an asynchronous batch job for large batches (>20 records).
        Returns a job ID for polling status.
      operationId: batchStart
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
      responses:
        '200':
          description: Batch job started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStartResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/templates/batch/{jobId}:
    get:
      tags: [Batch]
      summary: Get batch job status
      description: Poll for the status of an async batch job.
      operationId: batchStatus
      security:
        - ApiKeyAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/templates/batch/{jobId}/download:
    get:
      tags: [Batch]
      summary: Download batch ZIP
      description: Download the completed batch ZIP file.
      operationId: batchDownload
      security:
        - ApiKeyAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: Job not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Job or result not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/templates/views:
    get:
      tags: [Batch]
      summary: Get table views
      description: Get available views for an Airtable table.
      operationId: getViews
      security:
        - ApiKeyAuth: []
      parameters:
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: Airtable API key
        - name: baseId
          in: query
          required: true
          schema:
            type: string
        - name: tableId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Views list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  views:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/templates/count:
    get:
      tags: [Batch]
      summary: Get record count
      description: Get the number of records in a view (useful for UI display).
      operationId: getRecordCount
      security:
        - ApiKeyAuth: []
      parameters:
        - name: apiKey
          in: query
          required: true
          schema:
            type: string
          description: Airtable API key
        - name: baseId
          in: query
          required: true
          schema:
            type: string
        - name: tableId
          in: query
          required: true
          schema:
            type: string
        - name: view
          in: query
          schema:
            type: string
          description: Optional view name
      responses:
        '200':
          description: Record count
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===========================================================================
  # Webhooks
  # ===========================================================================
  /v1/webhooks:
    post:
      tags: [Webhooks]
      summary: Create webhook configuration
      description: |
        Create a webhook that automatically generates PDFs when Airtable records change.
        Returns setup instructions including the Airtable automation script.
      operationId: createWebhook
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookCreateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Webhooks]
      summary: List webhooks
      description: List all webhook configurations for your API key.
      operationId: listWebhooks
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Webhooks list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/webhooks/{id}:
    get:
      tags: [Webhooks]
      summary: Get webhook details
      description: Get details and setup instructions for a specific webhook.
      operationId: getWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Webhook ID (webhook_xxx)
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

    delete:
      tags: [Webhooks]
      summary: Delete webhook
      description: Delete a webhook configuration.
      operationId: deleteWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/webhooks/airtable/{id}:
    post:
      tags: [Webhooks]
      summary: Receive Airtable webhook
      description: |
        **Public endpoint - no authentication required.**

        This is the endpoint that Airtable automations call to trigger PDF generation.
        Always returns 200 to prevent Airtable retries on application errors.
      operationId: receiveAirtableWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Webhook ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirtableWebhookPayload'
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookProcessResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/webhooks/pdfs/{id}:
    get:
      tags: [Webhooks]
      summary: Download generated PDF
      description: |
        **Public endpoint - no authentication required.**

        Download a PDF generated by a webhook. PDFs expire after 24 hours.
      operationId: downloadWebhookPdf
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: PDF ID
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: PDF not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/webhooks/test/{id}:
    get:
      tags: [Webhooks]
      summary: Test webhook
      description: Test a webhook with sample data to verify it's working correctly.
      operationId: testWebhook
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # ===========================================================================
  # Airtable Integration
  # ===========================================================================
  /v1/airtable/connect:
    post:
      tags: [Airtable]
      summary: Connect Airtable account
      description: Validate an Airtable API key and return accessible bases.
      operationId: connectAirtable
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [apiKey]
              properties:
                apiKey:
                  type: string
                  description: Airtable Personal Access Token (starts with 'pat')
            example:
              apiKey: "patXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
      responses:
        '200':
          description: Connected successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirtableConnectResponse'
        '400':
          description: Invalid API key format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Airtable authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/airtable/bases/{baseId}/tables:
    get:
      tags: [Airtable]
      summary: List tables in base
      description: List all tables in an Airtable base with field counts.
      operationId: listAirtableTables
      security:
        - ApiKeyAuth: []
      parameters:
        - name: baseId
          in: path
          required: true
          schema:
            type: string
        - name: X-Airtable-Key
          in: header
          required: true
          schema:
            type: string
          description: Airtable API key
      responses:
        '200':
          description: Tables list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirtableTablesResponse'
        '400':
          description: Missing Airtable key or fetch error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/airtable/bases/{baseId}/tables/{tableId}/schema:
    get:
      tags: [Airtable]
      summary: Get table schema
      description: Get detailed field schema for a table, including AI-optimized format.
      operationId: getAirtableSchema
      security:
        - ApiKeyAuth: []
      parameters:
        - name: baseId
          in: path
          required: true
          schema:
            type: string
        - name: tableId
          in: path
          required: true
          schema:
            type: string
        - name: X-Airtable-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Table schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirtableSchemaResponse'
        '400':
          description: Missing Airtable key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Table not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/airtable/bases/{baseId}/tables/{tableId}/records:
    get:
      tags: [Airtable]
      summary: Get sample records
      description: Get sample records from a table for preview.
      operationId: getAirtableRecords
      security:
        - ApiKeyAuth: []
      parameters:
        - name: baseId
          in: path
          required: true
          schema:
            type: string
        - name: tableId
          in: path
          required: true
          schema:
            type: string
        - name: X-Airtable-Key
          in: header
          required: true
          schema:
            type: string
        - name: maxRecords
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 5
        - name: view
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Records list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirtableRecordsResponse'
        '400':
          description: Missing Airtable key or fetch error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Table not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/airtable/bases/{baseId}/tables/{tableId}/records/{recordId}:
    get:
      tags: [Airtable]
      summary: Get single record
      description: Get a specific record by ID.
      operationId: getAirtableRecord
      security:
        - ApiKeyAuth: []
      parameters:
        - name: baseId
          in: path
          required: true
          schema:
            type: string
        - name: tableId
          in: path
          required: true
          schema:
            type: string
        - name: recordId
          in: path
          required: true
          schema:
            type: string
        - name: X-Airtable-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirtableSingleRecordResponse'
        '400':
          description: Missing Airtable key or fetch error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Table or record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  # ===========================================================================
  # Dashboard
  # ===========================================================================
  /v1/dashboard:
    get:
      tags: [Dashboard]
      summary: Get usage metrics
      description: Returns usage metrics and API key metadata.
      operationId: getDashboard
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'

  /v1/keys/regenerate:
    post:
      tags: [Dashboard]
      summary: Regenerate API key
      description: |
        Regenerates the current API key. The new key is only shown ONCE.
        Store it securely as it cannot be retrieved again.
      operationId: regenerateKey
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Key regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegenerateKeyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for authentication

  responses:
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Validation failed"
            code: "VALIDATION_ERROR"
            details:
              - path: ["data", "client", "name"]
                message: "Required"

    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Invalid API key"
            code: "INVALID_API_KEY"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            error: "Internal server error"
            code: "INTERNAL_ERROR"

  schemas:
    # =========================================================================
    # Common
    # =========================================================================
    ApiError:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        details:
          description: Additional error details (validation issues, etc.)

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
        version:
          type: string
        timestamp:
          type: string
          format: date-time

    ApiInfoResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        documentation:
          type: string
          format: uri
        endpoints:
          type: object
          additionalProperties:
            type: string

    # =========================================================================
    # Core Workflow
    # =========================================================================
    ClientData:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        address:
          type: string
        company:
          type: string

    LineItem:
      type: object
      required: [description, quantity, unitPrice, total]
      properties:
        description:
          type: string
        quantity:
          type: number
          minimum: 0
        unitPrice:
          type: number
          minimum: 0
        total:
          type: number
          minimum: 0

    Totals:
      type: object
      required: [subtotal, total]
      properties:
        subtotal:
          type: number
          minimum: 0
        tax:
          type: number
          minimum: 0
        discount:
          type: number
          minimum: 0
        total:
          type: number
          minimum: 0

    QuoteMeta:
      type: object
      properties:
        quoteNumber:
          type: string
        date:
          type: string
        validUntil:
          type: string
        notes:
          type: string
        terms:
          type: string

    Branding:
      type: object
      properties:
        logoUrl:
          type: string
          format: uri
        companyName:
          type: string
        companyAddress:
          type: string

    QuoteData:
      type: object
      required: [client, lineItems, totals]
      properties:
        client:
          $ref: '#/components/schemas/ClientData'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        totals:
          $ref: '#/components/schemas/Totals'
        meta:
          $ref: '#/components/schemas/QuoteMeta'
        branding:
          $ref: '#/components/schemas/Branding'

    PreviewRequest:
      type: object
      required: [data]
      properties:
        template:
          type: string
          default: quote-modern
          description: Template ID to use
        data:
          $ref: '#/components/schemas/QuoteData'

    PreviewResponse:
      type: object
      required: [html]
      properties:
        html:
          type: string
          description: Rendered HTML
        sessionId:
          type: string
          format: uuid
          description: Session ID for subsequent modifications

    SessionModifyRequest:
      type: object
      required: [sessionId, prompt]
      properties:
        sessionId:
          type: string
          description: Session ID from /v1/preview (UUID or dev_xxx)
        prompt:
          type: string
          minLength: 1
          maxLength: 1000
          description: Natural language modification instruction
        region:
          type: string
          description: Optional region to focus modification on

    DirectModifyRequest:
      type: object
      required: [html, instruction]
      properties:
        html:
          type: string
          minLength: 1
          description: HTML content to modify
        instruction:
          type: string
          minLength: 1
          description: Modification instruction
        context:
          type: object
          additionalProperties: true
          description: Optional context data

    ModifyResponse:
      type: object
      required: [html, changes]
      properties:
        html:
          type: string
          description: Modified HTML
        changes:
          type: array
          items:
            type: string
          description: List of changes made
        tokensUsed:
          type: integer
          description: AI tokens used for modification
        validationWarnings:
          type: array
          items:
            type: string
          description: Guardrail warnings (if any)

    ValidationStatusResponse:
      type: object
      properties:
        sessionId:
          type: string
        validationResult:
          type: object
          nullable: true
          properties:
            passed:
              type: boolean
            criticalCount:
              type: integer
            warningCount:
              type: integer
            issues:
              type: array
              items:
                type: object
            hasAutoFix:
              type: boolean
            validatedAt:
              type: string
              format: date-time
        hasAutoFix:
          type: boolean
        lastModification:
          type: object
          nullable: true

    GenerateRequest:
      type: object
      required: [html, format]
      properties:
        html:
          type: string
          minLength: 1
          description: HTML content to render
        format:
          type: string
          enum: [pdf, png]
          description: Output format
        options:
          type: object
          properties:
            width:
              type: number
              minimum: 1
            height:
              type: number
              minimum: 1
            scale:
              type: number
              minimum: 0.1
              maximum: 3

    GenerateResponse:
      type: object
      required: [url, format, size, expiresAt]
      properties:
        url:
          type: string
          description: Data URL or file URL
        format:
          type: string
          enum: [pdf, png]
        size:
          type: integer
          description: File size in bytes
        expiresAt:
          type: string
          format: date-time

    # =========================================================================
    # Schema Detection
    # =========================================================================
    AnalyzeResponse:
      type: object
      properties:
        documentType:
          type: string
          description: Detected document type (invoice, quote, etc.)
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence score
        suggestedTemplate:
          type: string
          description: Recommended template
        fieldMappings:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              target:
                type: string
              example: {}
              confidence:
                type: number
              required:
                type: boolean
        missingFields:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              reason:
                type: string
        warnings:
          type: array
          items:
            type: string
        previewUrl:
          type: string

    AutoPreviewResponse:
      type: object
      properties:
        sessionId:
          type: string
        html:
          type: string
        analysis:
          type: object
          properties:
            documentType:
              type: string
            confidence:
              type: number
            template:
              type: string
            fieldMappings:
              type: array
              items:
                type: object
            missingFields:
              type: array
              items:
                type: object
            warnings:
              type: array
              items:
                type: string

    MappingsReference:
      type: object
      properties:
        description:
          type: string
        categories:
          type: object
          additionalProperties:
            type: object
            properties:
              description:
                type: string
              fields:
                type: array
                items:
                  type: string
        documentTypes:
          type: array
          items:
            type: string

    # =========================================================================
    # Templates
    # =========================================================================
    AirtableConnection:
      type: object
      required: [apiKey, baseId, tableId]
      properties:
        apiKey:
          type: string
          description: Airtable Personal Access Token
        baseId:
          type: string
          description: Airtable base ID (appXXX)
        tableId:
          type: string
          description: Table ID or name

    TemplateGenerateRequest:
      type: object
      required: [airtable, description]
      properties:
        airtable:
          $ref: '#/components/schemas/AirtableConnection'
        description:
          type: string
          minLength: 10
          description: Natural language description of desired template
        style:
          type: string
          enum: [modern, classic, vibrant, minimal, invoice, report]
        includeSample:
          type: boolean
          default: true

    TemplateGenerateResponse:
      type: object
      properties:
        success:
          type: boolean
        template:
          type: object
          properties:
            html:
              type: string
              description: Full HTML with CSS
            css:
              type: string
            bodyHtml:
              type: string
            fieldsUsed:
              type: array
              items:
                type: string
        preview:
          type: string
          nullable: true
          description: Rendered preview with sample data
        sampleData:
          type: object
          nullable: true
        schema:
          type: object
          properties:
            tableName:
              type: string
            fieldCount:
              type: integer
            fields:
              type: array
              items:
                type: object
        usage:
          type: object
          properties:
            tokensUsed:
              type: integer

    TemplateRefineRequest:
      type: object
      required: [html, airtable, instruction]
      properties:
        html:
          type: string
          description: Current template HTML
        airtable:
          $ref: '#/components/schemas/AirtableConnection'
        instruction:
          type: string
          description: Modification instruction

    TemplateRefineResponse:
      type: object
      properties:
        success:
          type: boolean
        template:
          type: object
          properties:
            html:
              type: string
            css:
              type: string
            bodyHtml:
              type: string
            fieldsUsed:
              type: array
              items:
                type: string
        preview:
          type: string
          nullable: true
        usage:
          type: object
          properties:
            tokensUsed:
              type: integer

    StylesResponse:
      type: object
      properties:
        styles:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string

    # =========================================================================
    # Batch
    # =========================================================================
    BatchRequest:
      type: object
      required: [template, airtable, output]
      properties:
        template:
          type: string
          description: Template HTML with Mustache placeholders
        airtable:
          type: object
          required: [apiKey, baseId, tableId]
          properties:
            apiKey:
              type: string
            baseId:
              type: string
            tableId:
              type: string
            view:
              type: string
            maxRecords:
              type: integer
              minimum: 1
              maximum: 500
              default: 100
            filterByFormula:
              type: string
        output:
          type: object
          required: [filename]
          properties:
            filename:
              type: string
              description: Filename template with Mustache (e.g., "invoice-{{fields.Number}}.pdf")
        pdfOptions:
          type: object
          properties:
            format:
              type: string
              enum: [letter, a4]
            landscape:
              type: boolean
            scale:
              type: number
              minimum: 0.1
              maximum: 2

    BatchStartResponse:
      type: object
      properties:
        success:
          type: boolean
        jobId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        total:
          type: integer
        message:
          type: string

    BatchStatusResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed]
        total:
          type: integer
        completed:
          type: integer
        failed:
          type: integer
        progress:
          type: integer
          description: Percentage complete
        errors:
          type: array
          items:
            type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        downloadReady:
          type: boolean

    # =========================================================================
    # Webhooks
    # =========================================================================
    WebhookDelivery:
      type: object
      properties:
        type:
          type: string
          enum: [url, email, storage]
          default: storage
        destination:
          type: string
          description: URL to POST (for type='url')
        emailTo:
          type: string
          description: Email address or "{{fields.Email}}" for dynamic
        emailSubject:
          type: string
        emailBody:
          type: string
        emailFrom:
          type: string
        emailReplyTo:
          type: string

    WebhookCreateRequest:
      type: object
      required: [template, airtable]
      properties:
        template:
          type: string
          description: HTML template with Mustache placeholders
        airtable:
          type: object
          required: [baseId, tableId]
          properties:
            baseId:
              type: string
            tableId:
              type: string
            apiKey:
              type: string
              description: Optional - for auto-fetching full record
        filenameTemplate:
          type: string
          default: "document-{{record.id}}.pdf"
        actions:
          type: array
          items:
            type: string
            enum: [created, updated]
          default: [created, updated]
        delivery:
          $ref: '#/components/schemas/WebhookDelivery'
        pdfOptions:
          type: object
          properties:
            format:
              type: string
              enum: [letter, a4]
            landscape:
              type: boolean
            scale:
              type: number

    WebhookCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        webhook:
          type: object
          properties:
            id:
              type: string
            webhookUrl:
              type: string
              format: uri
            airtable:
              type: object
            filenameTemplate:
              type: string
            actions:
              type: array
              items:
                type: string
            delivery:
              $ref: '#/components/schemas/WebhookDelivery'
            createdAt:
              type: string
              format: date-time
        instructions:
          type: object
          properties:
            summary:
              type: string
            steps:
              type: array
              items:
                type: string
            airtableScript:
              type: string

    WebhookListResponse:
      type: object
      properties:
        success:
          type: boolean
        webhooks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              webhookUrl:
                type: string
              airtable:
                type: object
              filenameTemplate:
                type: string
              actions:
                type: array
                items:
                  type: string
              delivery:
                $ref: '#/components/schemas/WebhookDelivery'
              createdAt:
                type: string
                format: date-time
              lastTriggeredAt:
                type: string
                format: date-time
                nullable: true
              triggerCount:
                type: integer
        count:
          type: integer

    WebhookDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        webhook:
          type: object
          properties:
            id:
              type: string
            webhookUrl:
              type: string
            airtable:
              type: object
            filenameTemplate:
              type: string
            actions:
              type: array
              items:
                type: string
            delivery:
              $ref: '#/components/schemas/WebhookDelivery'
            pdfOptions:
              type: object
            createdAt:
              type: string
              format: date-time
            lastTriggeredAt:
              type: string
              format: date-time
              nullable: true
            triggerCount:
              type: integer
        instructions:
          type: object

    AirtableWebhookPayload:
      type: object
      required: [record]
      properties:
        base:
          type: object
          properties:
            id:
              type: string
        table:
          type: object
          properties:
            id:
              type: string
        record:
          type: object
          required: [id, fields]
          properties:
            id:
              type: string
            fields:
              type: object
              additionalProperties: true
        action:
          type: string
          enum: [created, updated]
        timestamp:
          type: string
          format: date-time

    WebhookProcessResponse:
      type: object
      properties:
        success:
          type: boolean
        pdfUrl:
          type: string
        filename:
          type: string
        error:
          type: string
        processingTimeMs:
          type: integer
        deliveryType:
          type: string
          enum: [url, email, storage]
        emailSentTo:
          type: string
        emailMessageId:
          type: string

    WebhookTestResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        result:
          $ref: '#/components/schemas/WebhookProcessResponse'
        samplePayload:
          $ref: '#/components/schemas/AirtableWebhookPayload'

    # =========================================================================
    # Airtable
    # =========================================================================
    AirtableConnectResponse:
      type: object
      properties:
        success:
          type: boolean
        bases:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              permissionLevel:
                type: string
        message:
          type: string

    AirtableTablesResponse:
      type: object
      properties:
        baseId:
          type: string
        tables:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              primaryFieldId:
                type: string
              fieldCount:
                type: integer
              viewCount:
                type: integer

    AirtableSchemaResponse:
      type: object
      properties:
        baseId:
          type: string
        table:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            primaryFieldId:
              type: string
        fields:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              description:
                type: string
              options:
                type: object
        views:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
        aiSchema:
          type: object
          description: AI-optimized schema for template generation

    AirtableRecordsResponse:
      type: object
      properties:
        baseId:
          type: string
        tableId:
          type: string
        tableName:
          type: string
        recordCount:
          type: integer
        records:
          type: array
          items:
            type: object
            description: Formatted records for template use
        rawRecords:
          type: array
          items:
            type: object
            description: Raw Airtable records

    AirtableSingleRecordResponse:
      type: object
      properties:
        baseId:
          type: string
        tableId:
          type: string
        tableName:
          type: string
        record:
          type: object
          description: Formatted record
        rawRecord:
          type: object
          description: Raw Airtable record

    # =========================================================================
    # Dashboard
    # =========================================================================
    DashboardResponse:
      type: object
      properties:
        key:
          type: object
          properties:
            prefix:
              type: string
              description: First characters of API key
            name:
              type: string
            tier:
              type: string
              enum: [free, pro, enterprise]
            createdAt:
              type: string
              format: date-time
            lastUsedAt:
              type: string
              format: date-time
        usage:
          type: object
          properties:
            today:
              type: integer
            thisMonth:
              type: integer
            pdfsGenerated:
              type: integer
            monthlyLimit:
              type: integer
            resetDate:
              type: string
              format: date-time
        rateLimit:
          type: object
          properties:
            current:
              type: integer
            limit:
              type: integer
            percentage:
              type: number

    RegenerateKeyResponse:
      type: object
      properties:
        success:
          type: boolean
        key:
          type: string
          description: New API key - only shown once!
        prefix:
          type: string
        message:
          type: string
        warning:
          type: string
          description: Present in development mode
